<template>
  <v-layout style="display: grid">
    <h1>Wellcome to Anna's Zoo！</h1>
    <router-link
      to="/about"
      style="font-size: 40px; margin:20px auto; text-decoration: none"
    >
      <v-btn depressed md color="secondary">Enter ➡</v-btn> </router-link
    >|
  </v-layout>
</template>

<script>
// store.commit('increment')
//   store.dispatch(namespace + 'pluginAction')
</script>

<style>
h1 {
  font-size: 40px;
  margin: auto;
  margin-top: 120px;
}
</style>
