<template>
  <v-container>
    <!-- <div>{{isModalActive}}</div> -->
    <v-layout
      text-xs-center
      wrap
    >
      <v-flex  overflow: auto>
        <v-toolbar flat color="white">
          <v-toolbar-title style="font-size: 25px"> Animal List </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{ on }">
              <v-btn depressed small color=secondary style="font-size: 13px" v-on="on">＋New Animal</v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>
              <v-card-text>
                <v-container grid-list-md>
                  <v-layout wrap>
                    <v-flex xs12 sm6 md4>
                      <v-text-field v-model="editedItem.name" label="Animal name"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md4>
                      <v-text-field v-model="editedItem.gender" label="gender"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md4>
                      <v-text-field v-model="editedItem.age" label="age"></v-text-field>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
                <v-btn color="blue darken-1" flat @click="save">Save</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>

        <v-data-table
          :headers="headers"
          :items="animals"
          class="elevation-8"
          hide-actions
          :pagination.sync="pagination"
        >
          <template v-slot:items="props">
            <td>{{ props.item.name }}</td>
            <td>{{ props.item.gender }}</td>
            <td>{{ props.item.age }}</td>
            <td class="justify-center layout px-0">
              <v-icon
                small
                class="mr-2"
                @click="editItem(props.item)"
              >
                edit
              </v-icon>
              <v-icon
                small
                @click="deleteItem(props.item)"
              >
                delete
              </v-icon>
            </td>
          </template>
        </v-data-table>
        <div class="text-xs-center pt-2">
        <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import { mapActions, mapState, mapMutations, mapGetters } from 'vuex'

  export default {
    data: () => ({
      dialog: false,
      search: '',
      pagination: {},
      selected: [],
      headers: [
          { text: 'Animal', align: 'center', sortable: false, value: 'name' },
          { text: 'Gender', align: 'center', sortable: false, value: 'gender' },
          { text: 'Age', align: 'center', sortable: false, value: 'age' },
          { text: 'Modify/Delete', align: 'center', sortable: false, value: 'notes' }
        ],
      editedIndex: -1,
      editedItem: {
        name: '',
        gender: '',
        age: '',
      },
      defaultItem: {
        name: '',
        gender: '',
        age: '',
      },
    }),
    // name: 'isModalActive',

    watch: {
        dialog (val) {
          val || this.close()
        }
    },

    methods: {
      ...mapActions([
        // 'openCreateModal'
        'createNewAnimal'
      ]),
      // changeState() {
      //   this.openCreateModal('ture')
      // },

      editItem (item) {
        this.editedIndex = this.animals.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        const index = this.animals.indexOf(item)
        confirm('Are you sure you want to delete this item?') && this.animals.splice(index, 1)
      },

      close () {
        this.dialog = false
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.animals[this.editedIndex], this.editedItem)
        } else {
          this.$store.dispatch('createNewAnimal', this.editedItem)
          // console.log(this.editedItem)
          // this.createNewAnimal(this.editedItem)
          // this.animals.push(this.editedItem)
        }
        this.close()
      },
    },
    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'New Animal' : 'Edit Animal'
      },
      pages () {
        if (this.pagination.rowsPerPage == null ||
          this.pagination.totalItems == null
        ) return 0
        return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
      },
      ...mapState({
        animals: 'animals',
        // age: 'age',
        // gender:'gender'
      }),
    }
  }
</script>

<style>
table.v-table thead th {
  font-size: 18px !important;
}
table.v-table tbody td {
  font-size: 14px;
}
</style>
