<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-title>
        <router-link to="/" class="tab-link">
          <v-btn flat style="font-size: 15px">
          Home
          </v-btn>
        </router-link>|
        <router-link to="/about" class="tab-link">
          <v-btn flat style="font-size: 15px" >
          Animal List
          </v-btn>
        </router-link>
      </v-toolbar-title>
    </v-toolbar>
    
    <v-content>
      <router-view />
    </v-content>
    
  </v-app>
</template>

<script>
import Home from './views/Home'
import About from './views/About'

export default {
  name: 'App',
  components: {
    Home,
    About
  },
  data () {
    return {
      //
    }
  }
}
</script>

<style>
.tab-link{ 
  color: black;
  text-decoration: none;
}
</style>
